$--color-gray: rgb(220, 220, 220);
$--color-purple: rgb(147, 40, 156);
* {
    margin: 0;
    padding: 0; 
}

root {
    font-size: 10px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 1024px;
    margin: auto;
}

.section {
    width: 100%;
    margin-bottom: 5rem;

    .title {
        font-size: 2rem;
        margin-bottom: 2em;
    }

    .comment {
        text-align: center;
        margin-bottom: 1.4em;
        font-weight: normal;
        color:$--color-purple;
    }

}

.carousel {
    display: flex;
    button {
        position: relative;
        font-size: 2rem;
        padding: 0;
        border: none;
        background: none;
        color: orange;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            color: black;
        }
        &:focus {
            outline: none;
        }
    }

}
.products {
    display: flex;
    overflow: hidden;
    padding-top: 1.4em;
    box-sizing: border-box;
}

.product {
    min-width: 240px;
    transition: 0.5s;
    margin-right: 10px;
    display: flex;
    box-sizing: border-box;
    
    .info {
        display: flex;
        flex-direction: column;
    }    

    img {
        border: 1px solid $--color-gray;
        width: 90%;
        min-width: 90%;
        align-self: center;
    }

    h1 {
        font-size: 1rem;
        overflow: hidden;
        margin: 1em 0;
        font-weight: 200;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .oldPrice {
        text-decoration: line-through;
    }

    .newPrice {
        font-size: 1.5rem;
        color:$--color-purple;
    }

    .number {
        display: flex;
        flex-direction: column;
        width: 35px;
        height: 30px;
        background-color: $--color-gray;
        color: $--color-purple;
        font-weight: bold;
        display: flex;
        padding-top: 10px;
        justify-content: center;
        align-items: center;
        transform: translate(-10px, -25px);

        &::after {
            content: "";
            position: relative;
            top: 10px;
            border: 18px solid transparent;
            border-bottom: 0.7em solid $--color-gray;
            border-top: none;
            transform:  rotate(180deg);
        }
    }

    .off {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: $--color-purple;
        height: fit-content;
        color: white;
        left: 25px;
        display: flex;
        padding: 5px;
        padding-top: 10px;
        text-align: center;
        transform: translate(-10px, -25px);

        
    }
}